# obtain the xrlenv-related credentials from the xrlenv admin
XRLENV_GRPC_HOST=<fill-the-ip-of-the-xrlenv-grpc-host>
XRLENV_GRPC_PORT=<fill-the-port-of-the-xrlenv-grpc-host>
XRLENV_CONSUMER_TOKEN=<fill-the-consumer-token>
XRLENV_BENCHMARK_CACHE=<fill-the-path>

# GITHUB related credentials
YOUR_ORG=<fill-the-github-organization>
GH_TOKEN=<fill-the-github-token; should be a personal access token with repo scope>

# for internal use only
LLM_GATEWAY_EXPRESS_API_KEY_LIST=<fill-the-api-key-list>
LLM_GATEWAY_EXPRESS_LOCAL_PROXY_URL=<fill-the-local-proxy-url>


